.App {
  text-align: center;
}

.App-header {
  background: url('images/hitech.jpg');
  background-size: 50%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 0 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  position: relative;
}

.App-header h1 {
  margin: 0;
}

main {
  padding: 0 0 50px 0;
  min-height: 90vh;
}

footer {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding: 15px;
}

nav {
  background-color: #282c34;
  padding: 2px;
  margin: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: rgb(0, 212, 250);
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}

.signy {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: relative;
  width: 70%;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
}

.loggy {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: relative;
  width: 50%;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
}

.userInputs {
  position: relative;
}

.textInputs {
  color: black;
  border: 1px solid white;
  padding: 12px 8px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  margin: 5px;
}

.textAreaInputs {
  color: black;
  border: 1px solid white;
  padding: 12px 8px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  margin: 5px;
  word-wrap: normal;
  width: 80%;
  text-align: center;
}

.textInputs:focus, .textAreaInputs:focus {
  border: 2px solid royalblue;
}

.userBackground {
  height: 250px;
  width: 97%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
}

.userBanner {
  background-image: linear-gradient(45deg, #CE3B5B 30%, #CF5E23 90%);
  padding-bottom: 20px;
  position: relative;
}


.userBanner h1 {
  text-align: right;
  margin: 5px; 
  padding-right: 50px;
}

.profBorder {
  width: 200px;
  background-color: #282c34;
  padding: 5px 0 2px 0;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 5%;
  box-shadow: 0px 0px 5px black;
}

.profPic {
  width: 95%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
}

.profContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.userGames {
  background-color: #282c34;
  margin: 20px;
  min-height: 300px;
  width: 95%;
}

.profileInfo {
  background-color: #282c34;
  width: 80%;
  
  margin: 0 20px;
  min-height: 60px;
  height: 80px;
  padding: 5px 30px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.profileInfo h2, .profileInfo p{
  margin: 5px;
}

.infoBox div{
  margin-bottom: 20px;
}

.profInfo {
  width: 200px;
  background-color: #282c34;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  text-align: left;
  margin-left: auto;
  margin-right: 30px;

}

.profInfo h2 {
  text-align: center;
}

.profInfo p {
  background-image: linear-gradient(45deg, #CE3B5B 30%, #CF5E23 90%);
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  margin-top: 5px;
  text-align: center;
}

.profInfo div {
  margin: 0;
}



.contentLinks {
  background-color: #282c34;
  padding: 10px;
  min-height: 30px;
  border-radius: 0 0 5px 5px;
  width: 250px;
  margin-left: auto;
  margin-right: 20px;
}

.contentLinks div {
  display: inline;
}

.contentLinks img {
  width: 30px;
  height: auto;
  border-radius: 5px;
  margin: 0 10px;
}

.contentLinks img:hover {
  box-shadow: 0px 0px 5px white;
}



.freeGamesContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 5%;
  padding: 0 20px;
}

.gameCard {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-image: linear-gradient(45deg, black 30%, #282c34 90%);
  width: 200px;
  height: 190px;
  margin: 10px;
  border-radius: 10px; 
  padding-top: 20px;
  position: relative;
}

.gameCard:hover {
  box-shadow: 0 0px 16px #CE3B5B;
}

.gameCard video:focus {
  outline: 0;
}

.freeGameTitle {
  padding: 6px 16px;
  font-size: 16px;
  text-decoration: none;
  height: 40px;
  position: absolute;
  top: 160px;
}

.freeGameTitle a {
  text-decoration: none;
  color: white;
}

.freeGameTitle a:hover {
  color: #CF5E23;
}


.freegames {
  margin: 5% auto;
  background-image: linear-gradient(45deg, #CE3B5B 30%, #CF5E23 90%);
  padding: 20px 0;
  width: 840px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.freegames iframe {
  border: none;
  border-radius: 5px;
}

.homepage {
  background-image: linear-gradient(45deg, #CE3B5B 30%, #CF5E23 90%);
  padding: 10px 20px;
  width: 800px;
  margin: 0 auto 20px auto;
  border-radius: 0 0 10px 10px;
  z-index: 0;
}

.homepage p {
  font-size: 20px;
  text-align: justify;
}

.homepage a {
  text-decoration: none;
}

.homepage a:hover {
  color: rgb(255, 251, 0);
  
}


